Host orion
    HostName orion.archlinux.org
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-orion-%C
    ControlPersist yes
    ServerAliveInterval 10

Host repos
    HostName repos.archlinux.org
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-repos-%C
    ControlPersist yes
    ServerAliveInterval 10

Host soyuz
    HostName pkgbuild.com
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-soyuz-%C
    ControlPersist yes
    ServerAliveInterval 10

Host dragon
    HostName dragon.archlinux.org
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-dragon-%C
    ControlPersist yes
    ServerAliveInterval 10

Host sgp
    HostName sgp.pkgbuild.com
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-sgp-%C
    ControlPersist yes
    ServerAliveInterval 10
