
Host jcomletsnote
    HostName 192.168.0.11
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-jcomletsnote-%C
    ControlPersist yes
    ServerAliveInterval 10

Host jcommbp
    HostName 192.168.0.16
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-jcommbp-%C
    ControlPersist yes
    ServerAliveInterval 10

Host jcomgpd
    HostName 192.168.0.25
    IdentityFile ~/.ssh/id_ed25519
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-jcomgpd-%C
    ControlPersist yes
    ServerAliveInterval 10


Host jcomrpi3
    HostName 192.168.0.21
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-jcomrpi3-%C
    ControlPersist yes
    ServerAliveInterval 10


Host homeln
    HostName 192.168.0.14
    IdentityFile ~/.ssh/id_ed25519
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-homeln-%C
    ControlPersist yes
    ServerAliveInterval 10
