
Host osipprpi3
    HostName 10.102.24.41
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-osipprpi3-%C
    ControlPersist yes
    ServerAliveInterval 10

Host osippvaio
    HostName 10.10.24.24
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-osippvaio-%C
    ControlPersist yes
    ServerAliveInterval 10

Host osippimac
    HostName 10.10.55.3
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-osippimac-%C
    ControlPersist yes
    ServerAliveInterval 10
