
Host imac
    HostName vultr.farseerfc.me
    Port 2000
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-fujitsu-%C
    ControlPersist yes
    ServerAliveInterval 10

Host letsnote
    HostName vultr.farseerfc.me
    Port 2021
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-letsnote-%C
    ControlPersist yes
    ServerAliveInterval 10

Host rpi3
    HostName vultr.farseerfc.me
    Port 4083
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-rpi3-%C
    ControlPersist yes
    ServerAliveInterval 10

Host vaio
    HostName vultr.farseerfc.me
    Port 1081
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-vaio-%C
    ControlPersist yes
    ServerAliveInterval 10


Host z800
    HostName vultr.farseerfc.me
    Port 2800
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-z800-%C
    ControlPersist yes
    ServerAliveInterval 10
