
Host wgvultr
    HostName 192.168.32.1
    IdentityFile ~/.ssh/id_ed25519
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-wgvultr-%C
    ControlPersist yes
    ServerAliveInterval 10

Host wgmbp
    HostName 192.168.32.2
    IdentityFile ~/.ssh/id_ed25519
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-wgmbp-%C
    ControlPersist yes
    ServerAliveInterval 10

Host wgimac
    HostName 192.168.32.3
    IdentityFile ~/.ssh/id_ed25519
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-wgimac-%C
    ControlPersist yes
    ServerAliveInterval 10

Host wgvaio
    HostName 192.168.32.4
    IdentityFile ~/.ssh/id_rsa
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-wgvaio-%C
    ControlPersist yes
    ServerAliveInterval 10

Host wgletsnote
    HostName 192.168.32.5
    IdentityFile ~/.ssh/id_ed25519
    User farseerfc
    ControlMaster auto
    ControlPath ~/.ssh/socket-wgletsnote-%C
    ControlPersist yes
    ServerAliveInterval 10
