[Desktop Entry]
Categories=System;Utility;
Comment[en_US]=Start Input Method
Comment=Start Input Method
Comment[ca]=Mètode d'entrada estàndard
Comment[da]=Start inputmetode
Comment[de]=Eingabemethode starten
Comment[ko]=입력기 시작
Comment[zh_CN]=启动输入法
Exec=/usr/bin/fcitx5
GenericName[en_US]=Input Method
GenericName=Input Method
GenericName[ca]=Mètode d'entrada
GenericName[da]=Inputmetode
GenericName[de]=Eingabemethode
GenericName[ja]=入力メソッド
GenericName[ko]=입력기
GenericName[ru]=Метод ввода
GenericName[zh_CN]=输入法
GenericName[zh_TW]=輸入法
Icon=fcitx
MimeType=
Name[en_US]=Fcitx 5
Name=Fcitx 5
Name[ca]=Fcitx 5
Name[da]=Fcitx 5
Name[de]=Fcitx 5
Name[ko]=Fcitx 5
Name[zh_CN]=Fcitx 5
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
