[Unit]
Description=Dynamic SSH tunnel
ConditionPathExists=|/usr/bin
Wants=network-online.target
After=network.target network-online.target dynamic-ssh-tunnel@.socket
Requires=dynamic-ssh-tunnel@%i.socket

[Service]
Type=forking
User=farseerfc
ExecStart=/usr/bin/ssh -TNCf -o ServerAliveInterval=10 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -D 1080 %i

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
